body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 60px;  
  grid-template-columns: 20% 1fr 45%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  } 
  header {
    text-align: right;
    border-bottom: 4px dashed #1b1a19;
  } 
  header img {
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
  }
  header span {
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
  }
header, footer, article, nav {
  padding: 1.2em;
  font-family: 'Press Start 2P', cursive;
  }
#pageHeader {
  grid-area: header;
  
  }
#pageFooter {
  grid-area: footer;
  border-top: 4px dashed #1b1a19;
  padding-bottom: 0;
  padding-top: 0;
  }
#mainArticle { 
  grid-area: article;      
  border: 4px dashed #1b1a19;
  text-align: center;
  }
#mainNav { 
  grid-area: nav; 
  border: 4px dashed #1b1a19;
  border-left: none;
  }
#siteAds { 
  border: 4px dashed #1b1a19;
  grid-area: ads; 
  padding: 1.2em;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  overflow: auto;
  margin-right: 5px;
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
#ChartContainer { 
  width: 100%;   
  display: inline-block;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 2%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.form-style-10{
  width:250px;
  margin: auto;
  
}
.form-style-10 .inner-wrap{
  padding: 30px;
  border: 4px dashed #1b1a19;
  margin-bottom: 15px;
}
.form-style-10 h1{
  font: normal 20px 'Bitter', serif;
  font-family: 'Press Start 2P', cursive;
}
.form-style-10 h1 > span{
  display: block;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
  font-family: 'Press Start 2P', cursive;
}
.form-style-10 label{
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  font-family: 'Press Start 2P', cursive;
  color: #888;
  margin-bottom: 5px;
  margin-top: 5px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
  font-family: 'Press Start 2P', cursive;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 4px dashed #1b1a19;
}
#buttonSection {
  text-align: center;
}
.form-style-10 .section{
  font: normal 20px 'Bitter', serif;
  font-family: 'Press Start 2P', cursive;
  color: #283338;
  margin-bottom: 5px;
}
.form-style-10 .section span {
  background: #283338;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"], button {
  padding: 8px 20px 8px 20px;
  align-self: center;
  margin-top: 10px; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  font-family: 'Press Start 2P', cursive;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 4px dashed #1b1a19;
  font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover, button:hover{
  border: 4px solid #1b1a19;
  transform: scale(.9);
}

#ChampionsChart {
  width: 50%; 
  height: 50%;  
  display: inline-block;
}

#siteAds::-webkit-scrollbar {
  width: 10px;
  background: white;
  
}

/* Track */
#siteAds::-webkit-scrollbar-track {
  background: white;
  border-left: 4px dashed #1b1a19; 
  margin-right: 20px;
}

/* Handle */
#siteAds::-webkit-scrollbar-thumb {
  background: black;
}
.battle-log-icon {
  width: 16px;
  height: 16px;
}
.battle-log-text-attack {
  background: lightcoral;
  border: 1px solid black;
  line-height: 1.4;
  padding: 1px;
}
.battle-log-text-heal {
  background: lightgreen;
  border: 1px solid black;
  line-height: 1.4;
  padding: 1px;
}
.battle-log-text-info {
  background: lightgray;
  border: 1px solid black;
  line-height: 1.4;
  padding: 1px;
}
.battle-log-text-buff {
  background: violet;
  border: 1px solid black;
  line-height: 1.4;
  padding: 1px;
}
#imgPicker {
  text-align: center;
}